@import "./colors";
.item {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 75%;
  padding: 40px;
  background-color: $colorWhite;
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgba($colorWhite, 0.3);
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    margin: 0;
    font-size: 2rem;
  }

  &__input {
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
  }
  &__fields {
    display: flex;
    gap: 20px;
    height: 50px;
  }

  &__search-icon {
    position: absolute;
    left: 3%;
  }
  
  &__search {
    width: 100%;
    padding-left: 40px !important;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
